{% extends 'ZIMZIMToolsBundle::layout.html.twig' %}

{% trans_default_domain 'ZIMZIMTools' %}

{% block title %}
    {{ 'adminulploadtinymce.index.title'|trans }}
{% endblock title %}

{% block page %}
    <div class="row">
        <div class="small-10 columns">
            <h1 class="text-center headerpagehome">
                {{ 'adminulploadtinymce.index.title'|trans }}
            </h1>
        </div>
        <div class="small-2 columns">
            <a class="tiny button round" href="{{ path('zimzim_toolsbundle_uploadtinymce_new') }}">
                {{ 'button.create'|trans }}
            </a>
        </div>
    </div>

    {{ grid(grid) }}

{% endblock %}

